*
!.doom.d/
!.doom.d/**
!.gitignore
!.xinitrc
!.list_packages
!.zshrc
!.config/
!.config/picom.conf
!.config/alacritty/
!.config/alacritty/**
!.config/dunst/
!.config/dunst/dunstrc
!.rofi/
!.xmonad/*.hs
!.xmonad/lib/**
!.xmonad/xmobar.conf
!.xmonad/icons/*.xpm
!.config/picom.conf
!.config/rofi
!.config/rofi/**
!.config/betterlockscreenrc
!.config/eww
!.config/eww/**
