*
!.doom.d/
!.doom.d/**
!.gitignore
!.xinitrc
!.list_packages
!.zshrc
!bin/
!bin/**
!.config/
!.config/picom.conf
!.config/alacritty/
!.config/alacritty/**
!.config/dunst/
!.config/dunst/dunstrc
!.config/quickshell
!.config/quickshell/**
!.rofi/
!.xmonad/*.hs
!.xmonad/lib/**
!.xmonad/xmobar.conf
!.xmonad/icons/*.xpm
!.config/picom.conf
!.config/rofi
!.config/rofi/**
!.config/betterlockscreenrc
!.config/eww
!.config/eww/**
!.config/hypr/
!.config/hypr/**
